[Unit]
Description=Application Vaca CPP


[Service]
ExecStart=/opt/app/vaca
ExecStartPost=/bin/sh -c 'umask 022; /usr/bin/pgrep vaca > /var/run/vaca.pid'
ExecStopPost=/bin/sh -c 'rm -Rf /var/run/vaca.pid >dev/null 2>&1'
KillSignal=SIGQUIT


[Install]
WantedBy=multi-user.target
